* {
  box-sizing: border-box;
}

body {
  transition: background-color .3s ease-in-out;
}
html {
  &::-webkit-scrollbar-track {
    background-color: #eee;
  }
  &::-webkit-scrollbar {
    width: 20px;
    //background-color: #F5F5F5;
    border-radius: 45px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 45px;
  }
}
a {
  color: black;
  text-decoration: none;
}
.left {
  float: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

button {
  .clean-button;
}

// scrollreveal stuff
.sr {
  .post-item .post-thumbnail, 
  article.single-post img {
    visibility: hidden;
  }
}
.grid-fix .post-item_grid:nth-child(odd) {
  clear: left;
}

/* bootstrap bug - sometimes horizontal scroll appears on mobile devices if the content is too long */
.container {
  overflow-x: hidden;
  max-width: 1140px;
}
time {
  font-size: @accent-text-size;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.container-fluid {
  max-width: 1440px;
}

input[type="text"], input[type="search"] {
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 3px;
  padding: 6px;
}

iframe {max-width: 100%;}
.comments-list img {max-width: none;width: auto}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


