.button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  display: inline-block;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 14px;
  color: #fff;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.button-small {
  font-size: @accent-text-size;
  padding: 5px 13px;
}

// ^-^ THEME TOGGLE ^-^
@theme-toggle-width: 48px;
@theme-toggle-height: 26px;
@theme-toggle-padding: 2px;
.theme-toggle {
  margin-right: 0px;
  position: relative;
  display: inline-block;
  width: @theme-toggle-width;
  height: @theme-toggle-height;
  &:hover {
    .theme-toggle--circle {
      background-color: #aaa;
    }
  }
  &--ic {
    position: absolute;
    font-size: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
  }
  .icon-sun {
    color: #fff200;
    left: 4px;
  }
  .icon-moon-inv {
    color: #6699cc;
    right: 4px;
  }
  &--circle {
    position: absolute;
    border-radius: 34px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: all .4s ease-in-out;
    &::before {
      border-radius: 50%;
      position: absolute;
      z-index: 2;
      content: "";
      height: @theme-toggle-height - @theme-toggle-padding * 2;
      width: @theme-toggle-height - @theme-toggle-padding * 2;
      left: @theme-toggle-padding;
      bottom: @theme-toggle-padding;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
  input {
    visibility: hidden;
  }
  input:checked + &--circle {
    //background-color: #2196F3;
  }
  input:focus + &--circle {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + &--circle:before {
    transform: translateX(100%);
  }
}

// ^-^ TOP SEARCH ^-^
.top-search-btn {
  font-size: 20px;
  margin-right: 40px;
  transition: opacity .3s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}
.custom-search-form {
  text-align: center;
  visibility: hidden;
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 0;
  z-index: 101;
  background-color: white;
  &.is-open {
    visibility: visible;
    height: 100vh;
  }
  form {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  input[type="text"] {
    text-align: inherit;
    background: transparent;
    border: none;
    outline: none;
    font-size: 72px;
    margin-top: 22px;
    width: 100%;
    border-radius: 5px;

  }
  input[type="submit"] {
    background-color: transparent;
    color: black;
    font-size: 22px;
    margin-top: 50px;
    transition: opacity .3s ease-in-out;
    &:hover, &:focus {
      opacity: 0.5;
    }
  }
  .cancel-search {
    color: black;
    margin-top: 100px;
    font-size: 48px;
    transition: opacity .3s ease-in-out;
    &:hover, &:focus {
      opacity: 0.5;
    }
  }
  label {
    font-size: 0;
    height: 0;
  }
}

@media(max-width: 1199px) {
  .custom-search-form {
    form {
      width: 85%;
    }
    input[type="text"] {
      font-size: 64px;
    }
    .cancel-search {
      margin-top: 75px;
    }
  }
}
@media(max-width: 767px) {
  .custom-search-form {
    input[type="text"] {
      font-size: 48px;
      margin-top: 10px;
    }
    input[type="submit"] {
      margin-top: 25px;
    }
    .cancel-search {
      margin-top: 50px;
      font-size: 32px;
    }
  }
}
@media(max-width: 575px) {
  .custom-search-form {
    input[type="text"] {
      margin-top: 20px;
      font-size: 32px;
      width: 95%;
    }
    .cancel-search {
      margin-top: 25px;
    }
  }
}

// ^-^ brands 
@pinterest-color: #e60023;
@google-color: #d34836;
@twitter-color: #38A1F3;
@fb-color: #3C5A99;
.icon-pinterest {
  color: @pinterest-color;
}
.icon-gplus {
  color: @google-color;
}
.icon-twitter {
  color: @twitter-color;
}
.icon-facebook {
  color: @fb-color;
}

.social-links a {
  transition: opacity .3s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}

// ^-^ SUBSCRIBE FORM ^-^
#mc_embed_signup {
  margin-top: 30px;
  h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
  }
  label {
    opacity: 0;
    font-size: 0;
    height: 0;
  }
  input[type="email"] {
    width: 200px;
    padding: 5px;
    color: inherit;
  }
}
.mc-field-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
