.button {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 40px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.button-small {
  font-size: @accent-text-size;
  padding: 5px 13px;
}
