.is-dark {
  background-color: @dark-theme-bg;
  a:not(.post-category) {
    color: white;
  }
  .hamburger span {
    background-color: @dark-theme-color;
  }
  .top-menu {
    background-color: @dark-theme-bg;
  }
  .top-search-btn,
  .top-header-description,
  .post-item,
  .post-meta-counter
  {
    color: @dark-theme-color;
  }
}
