.is-dark {
  background-color: @dark-theme-bg;
  a:not(.post-category) {
    color: white;
  }
  .hamburger span {
    background-color: @dark-theme-color;
  }
  .top-menu,
  .error-page,
  .custom-search-form {
    background-color: @dark-theme-bg;
  }
  h1, h2, h3, h4, h5, h6,
  .related-post,
  .related-posts h3,
  .single-post,
  .top-search-btn,
  .top-header-description,
  .post-item,
  .post-meta-counter,
  .error-page .error-actions,
  .error-page .error-message,
  .sidebar,
  .sidebar h2 {
    color: @dark-theme-color;
  }
  .sidebar h2, 
  .like-button,
  .post-item footer {
    border-color: @dark-theme-color;
  }
  .like-button:hover {
    border-color: rgba(255,255,255, .45);
  }
  .custom-search-form {
    input[type="submit"], .cancel-search, input[type="text"] {
      color: @dark-theme-color;
    }
  }
  .comments {
    h3, form {
      color: @dark-theme-color;
    }
  }
  article.single-post, article.single-page {
    footer {
      border-color: @dark-theme-color;
    }
    .tags i {
      color: @dark-theme-color;
    }
  }
  .info-title {
    color: black;
  }
}
