.top-header {
  margin-top: 130px;
  margin-bottom: 70px;
  text-align: center;
  h1 {
    font-family: 'Amatic SC';
    font-size: 64px;
    margin-bottom: 0;
    line-height: 55px;
  }
  .logo {
    margin-bottom: 10px;
  }
}
.top-header-description {
  font-size: 14px;
}
