@import url('normalize.css');
@import url('bootstrap.css');
@import url('slider.less');
@import url('fontello.css');
@import url('typography.less');
@import url('vars.less');
@import url('components.less');

@import url('menu.less');
@import url('posts.less');
@import url('single_post.less');
@import url('head.less');
@import url('sidebar.less');
@import url('404.less');
@import url('footer.less');

@import url('common.less');
@import url('media.less');


.main-container {
  min-height: 100vh;
  position: relative;
}
.no-br {
  border-radius: 0;
}
.button:hover {
  background-color: var(--primary-hover-color);
  color: #fff;
}
.searchform label {
  display: none;
}
.hide {
  display: none;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  z-index: 1001;
  opacity: 1;
  transition: opacity .45s ease;
}
/* search */
.search-section {
  h1 {
    font-size: 1.3rem;
    text-align: center;
  }
  .query-search {
    color: var(--primary-color);
  }
}
