@import 'normalize.css';
@import './fancybox.css';
@import './utils.less';
@import 'slider.less';
@import 'fontello.css';
@import 'typography.less';
@import 'vars.less';
@import 'components.less';
@import 'dark-theme.less';

@import 'menu.less';
@import 'posts.less';
@import 'single_post.less';
@import 'head.less';
@import 'sidebar.less';
@import '404.less';
@import 'footer.less';

@import 'common.less';
@import 'media.less';


.main-container {
  min-height: 100vh;
  position: relative;
}
.no-br {
  border-radius: 0;
}
.searchform label {
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  opacity: 1;
  transform: translateX(0);
  transition: opacity .35s ease-in;
}
.hide {
  display: none;
}
/* search */
.search-section {
  h1 {
    font-size: 1.3rem;
    text-align: center;
  }
}

.particles-js-canvas-el {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
