@import 'hamburger.less';

.top-sticky {
  margin-top: 50px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  &--inner {
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
  }
  &--right {
    display: flex;
    align-items: center;
  }
}

.top-menu {
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-wrap {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 99;
    transform: translate(-100%, -100%) scale(0.1);
    &.is-open {
      visibility: visible;
    }
  }
}
.menu-item {
  display: block;
  list-style-type: none;
  font-size: 42px;
  font-family: 'Amatic SC';
  margin-bottom: 25px;
}

@media(max-width: 991px) {
  .top-sticky {
    margin-top: 25px;
    &--inner {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}
@media(max-width: 575px) {
  .top-sticky {
    &--inner {
    }
  }
  .menu-item {
    font-size: 29px;
  }
  
}
