.sidebar {
  margin-top: 10px;
  li {
    list-style-type: none;
    padding: 5px 0;
  }
}
.sidebar .tags {
  padding: 0;
}
.sidebar .tag {
  display: inline-block;
}  
.sidebar * {
  font-size: 14px;
}
.uzel-widget {
  text-align: left;
}
.uzel-widget ul {
  padding: 0;
}
.sidebar h2 {
  font-size: 27px;
  font-family: @decor-font;
  display: inline-block;
  border: 2px dashed black;
  padding: 10px;
}
.sidebar a {
  opacity: 0.7;
}
#wp-calendar {
  th {
    color: @text-secondary-color;
  }
  th, td {
    padding: 4px; 
    font-size: @accent-text-size
  }
  caption {
    text-align: left;
    font-family: @header-font;
    padding: 4px;
    font-size: @small-header-size;
    color: @text-secondary-color;
  }
}
.uzel-widget {
  margin: 25px 0;
}
