.sidebar {
  margin-top: 10px;
  li {
    list-style-type: none;
    padding: 5px 0;
    border-bottom: 1px dashed rgba(0,0,0,.2);
  }
}
.sidebar .tags {
  padding: 0;
}
.sidebar .tag {
  display: inline-block;
}  
.sidebar * {
  font-size: var(--accent-text-size);
}
.uzel-widget {
  text-align: left;
}
.uzel-widget ul {
  padding: 0;
}
.sidebar h2 {
  font-size: var(--small-header-size);
  color: var(--text-secondary-color);
}
.sidebar ul {
  margin: 5px;
}
#wp-calendar {
  th {
    color: var(--text-secondary-color);
  }
  th, td {
    padding: 4px; 
    font-size: var(--accent-text-size);
  }
  caption {
    text-align: left;
    font-family: var(--header-font);
    padding: 4px;
    font-size: var(--small-header-size);
    color: var(--text-secondary-color);
  }
}
.uzel-widget {
  margin: 25px 0;
}
