@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.single-post-content {
  p {
    line-height: 20px;
  }
  img {
    display: block;
    margin: 15px auto;
  }
}
article.single-post, article.single-page {
  header {
    text-align: center;
    margin-bottom: 40px;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding: 5px 0;
    border: 2px dashed black;
    border-left: none;
    border-right: none;
  }
  &-time {
    margin-bottom: 15px;
  }
  .tag {
    display: inline-block;
  }

  .tags {
    padding: 0;
    margin: 0;
    a {
      transition: opacity .3s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .tags i {
    color: @text-secondary-color;
  }
  .post-thumbnail {
    width: 100%;
    margin-top: 20px;
  }
}
.single-post-category, .single-post-time {
  font-weight: 400;
  font-size: @accent-text-size;
}
.related-posts h3 {
  font-size: @small-header-size;
  color: @text-secondary-color;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.related-post img {
  width: 100%;
  max-height: 400px;
  height: auto;
}
.related-post a {
  color: inherit;
}
.related-post a:hover {
  color: inherit;
}
.related-post h2 {
  font-size: @small-header-size;
}
.related-post time {
}

// like button
.like-button {
  .clean-button;
  display: flex;
  margin: 50px auto;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgba(0,0,0,.15);
  box-shadow: none;
  background: transparent;
  font-size: 16px;
  outline: none;
  opacity: 1;
  transition: border-color .3s ease-out, opacity 2.5s ease;
  i {
    transition: transform .3s ease-out;
  }
  &:hover {
    border-color: rgba(0,0,0, .25);
    i {
      transform: scale(1.1);
    }
  }
}
.like-button-fetching {
  i {
    animation: rotation 1.5s infinite linear;
  }
}

/* COMMENTS */
.comments {
  margin-top: 30px;
}
.comments h3 {
  font-size: 24px;
  color: @text-secondary-color;
  //text-align: center;
}
.comments .comments-counter {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 40px;
}
.comments-list {
  padding: 0;
  p, .comment-author, .comment-date {
    font-size: @accent-text-size;
  }
  img {
    max-width: none;width: auto
  }
}
.avatar {
  border-radius: 50%;
}
ul.children {
  padding-left: 20px;
}
.comment {
  display: flex;
  margin-top: 10px;
}
.comment-left-section {
  margin-right: 10px;
}
.comment-date {
  color: @text-secondary-color;
  font-size: 0.9rem;
}

.comment-reply-title {
  font-size: @small-header-size;
  text-align: left;
  color: @text-secondary-color;
}
.comment-notes {
  display: none;
}
.comment-respond {
  margin-top: 30px;
}
.comment-respond label {
  width: 70px;
  padding-right: 10px;
  font-size: 0.9rem;
}
.comment-respond input {
  display: block;
  max-width: 300px;
  padding: 5px;
  font-size: 0.9rem;
}
.comment-respond input[type="submit"] {
  width: auto;
}
.comment-respond .submit {
  .clean-button;
  .button;
}
.comment-form-url {
  display: none;
}

.comment-form-comment label {
  display: none; 
}
.comment-form-comment textarea {
  width: 100%;
}
/* COMMENTS */

/* POST PAGINATION */
.post-pagination, .page-pagination {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.post-pagination {
  a {
    transition: opacity .3s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}
/* POST PAGINATION */
